{% extends "weatherApp/base/base.html" %}
{% load static %}

{% block content %}
	<div class="container">
		<div class="row">
			<!-- Today overview -->
			<div class="col-xs-12 col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div id="mainPanelHeader" class="row">
							<div class="col-xs-12">
								<span id="mainPanelHeader-span">Today</span>
							</div>
						</div>
						<div id="locationRow" class="row">
							<div class="col-xs-12">
								<h4>
									{{ fcToday.location.city }}, {{ fcToday.location.state }}, {{ fcToday.location.country_name }}
								</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<span class="text-info">
									Last updated: {{ fcToday.retrieved|date }} at {{ fcToday.retrieved|time:"H:i" }}
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-7">
								<div class="row">
									<div class="col-xs-12">
										<span><span id="highTemp">{{ fcToday.high }}&degC</span> <small>Hi</small></span>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<span><span id="lowTemp">{{ fcToday.low }}&degC</span> <small>Low</small></span>
									</div>
								</div>
							</div>
							<div class="col-xs-5">
								<i id="panelIcon" class="wi wi-wu-{{ fcToday.icon_sf }}"></i>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<span class="weatherField-span pull-left">Wind: </span>
								<span class="weatherField-span pull-right">
									{{ fcToday.ave_windspeed }} <small>Km/h</small> <i class="wi wi-wind wi-towards-{{ fcToday.ave_winddir|lower }}"></i>
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<span class="weatherField-span pull-left"><small>Gust: </small></span>
								<span class="weatherField-span wind-span-sm pull-right">
									<small>{{ fcToday.max_windspeed }} <small>Km/h</small></small> <i class="wi wi-wind wi-towards-{{ fcToday.max_winddir|lower }}"></i>
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<span class="weatherField-span pull-left">Humidity: </span>
								<span class="weatherField-span pull-right">{{ fcToday.ave_humidity }}%</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Today text outlook and next 3 days mini overview -->
			<div class="col-xs-12 col-sm-8">
				<!-- Top row - Outlook for today -->
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="col-xs-12">
									<h4>
										<strong>Today's outlook:</strong>
									</h4>
									{{ fcToday.fcttext_metric_day }}
									<h4>
										<strong>Tonight:</strong>
									</h4>
									{{ fcToday.fcttext_metric_night }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Bottom row - mini overview, next few days -->
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="smallday-panel panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-12">
										Tomorrow ({{ fcNext1.date|date:"D d M" }})
									</div>
								</div>
								<div class="row">
									<div class="col-xs-7">
										<div class="row">
											<div class="col-xs-12">
												<span><span id="highTemp">{{ fcNext1.high }}&degC</span> <small>Hi</small></span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<span><span id="lowTemp">{{ fcNext1.low }}&degC</span> <small>Low</small></span>
											</div>
										</div>
									</div>
									<div class="col-xs-5">
										<i id="panelIcon" class="wi wi-wu-{{ fcNext1.icon_sf }}"></i>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<h4>
											Outlook:
										</h4>
										<p>
											Day: {{ fcNext1.fcttext_metric_day }}
										</p>
										<p>
											Night: {{ fcNext1.fcttext_metric_night }}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="smallday-panel panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-12">
										{{ fcNext2.date|date:"D d M" }}
									</div>
								</div>
								<div class="row">
									<div class="col-xs-7">
										<div class="row">
											<div class="col-xs-12">
												<span><span id="highTemp">{{ fcNext2.high }}&degC</span> <small>Hi</small></span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<span><span id="lowTemp">{{ fcNext2.low }}&degC</span> <small>Low</small></span>
											</div>
										</div>
									</div>
									<div class="col-xs-5">
										<i id="panelIcon" class="wi wi-wu-{{ fcNext2.icon_sf }}"></i>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<h4>
											Outlook:
										</h4>
										<p>
											Day: {{ fcNext2.fcttext_metric_day }}
										</p>
										<p>
											Night: {{ fcNext2.fcttext_metric_night }}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="smallday-panel panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-12">
										{{ fcNext3.date|date:"D d M" }}
									</div>
								</div>
								<div class="row">
									<div class="col-xs-7">
										<div class="row">
											<div class="col-xs-12">
												<span><span id="highTemp">{{ fcNext3.high }}&degC</span> <small>Hi</small></span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<span><span id="lowTemp">{{ fcNext3.low }}&degC</span> <small>Low</small></span>
											</div>
										</div>
									</div>
									<div class="col-xs-5">
										<i id="panelIcon" class="wi wi-wu-{{ fcNext3.icon_sf }}"></i>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<h4>
											Outlook:
										</h4>
										<p>
											Day: {{ fcNext3.fcttext_metric_day }}
										</p>
										<p>
											Night: {{ fcNext3.fcttext_metric_night }}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
